h1 {
    text-align: center;
    margin: 3px;
}

.new-hero{
    width: 270px;
    padding: 0.5rem;
    background: #f2f2f2;
    border-radius: 5px;
    margin: 10px;
}

.form-group {
    margin: 5px;
    clear:both; 
    text-align:right;
    line-height:25px;
}

label {
    float:left;
    padding-right:10px;
}

input {
    width: 180px;
}

.alert-error {
    background: #ffc0c0;
    border-radius: 5%;
    width: 260px;
    text-align: center;
    margin: 2px 0px;
}

button {
    margin: 5px 5px 5px 190px;
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 5px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
}
button:hover {
    background-color: #cfd8dc;
}