<h2>My Heroes</h2>

<app-new-hero></app-new-hero>

<div>
  <ul class="heroes">
    <li *ngFor="let hero of heroes$ | async" (click)="onSelect(hero)"
        [class.selected]="hero === (selectedHero$ | async)">
      <span class="badge">{{hero._id.substring(0,5)}}</span>
      <span>{{hero.name}}</span>
      <button class="delete" (click)="delete(hero); $event.stopPropagation()">x</button>
    </li>
  </ul>

  <app-info-widget></app-info-widget>

  <div *ngIf="(selectedHero$ | async) as hero" class="info-widget">
    <h4>{{hero.name | uppercase}}</h4>
    <button (click)="gotoDetail(hero)">View Details</button>
  </div>

</div>