<h2>My Heroes</h2>

<app-new-hero></app-new-hero>

<div>
  <ul class="heroes">
    <li *ngFor="let hero of heroes$ | async" (click)="onSelect(hero)"
        [class.selected]="hero === (selectedHero$ | async)"
        class="tooltip" >
      <span class="badge">{{hero?._id?.substring(0,5)}}</span>
      <span>{{hero?.name}}</span>
      <button class="delete" (click)="delete(hero); $event.stopPropagation()">x</button>
      <div class="tooltiptext">
        <p>Created: {{(hero?.createdAt)?.substring(0,10)}}</p> 
        <p>Updated: {{(hero?.updatedAt)?.substring(0,10)}}</p> 
      </div>
    </li>
  </ul>

  <app-info-widget></app-info-widget>

  <div *ngIf="(selectedHero$ | async) as hero" class="info-widget">
    <h4>{{hero.name | uppercase}}</h4>
    <button (click)="gotoDetail(hero)">View Details</button>
  </div>

</div>