<h2>My Heroes</h2>

<app-new-hero></app-new-hero>

<div>
  <ul class="heroes">
    <li *ngFor="let hero of heroes$ | async" (click)="onSelect(hero)"
        [class.selected]="hero === (selectedHero$ | async)">
      <span class="badge">{{hero.id}}</span>
      <span>{{hero.name}}</span>
      <button class="delete" (click)="delete(hero); $event.stopPropagation()">x</button>
    </li>
  </ul>

  <div *ngIf="(selectedHero$ | async) as hero">
    <h2>
      {{hero.name | uppercase}} is my hero
    </h2>
    <button (click)="gotoDetail(hero)">View Details</button>
  </div>
</div>