.main {
  width: 900px;
  min-height: 650px;
  margin: 0 auto;
}

.header-image{
  width: 20%;
  height: 20%;
  margin: 0 auto;
  float: left;
}

.footer {
  width: 900px;
  clear: both;
  bottom: 0;
  margin: 0 auto;
  padding: 1rem;
  background-color: #e6ebee;
  text-align: center;
}

.nav-panel {
  padding: 10px;
  text-align: left;
  background-color:  #e6ebee;
  border-radius: 5px;
}  

.nav-link {
    padding: 6px;
    text-align: center;
    color: #eee;
    background-color: rgb(34, 48, 54);
    border-radius: 4px;
}